<script id="songsTableTemplate" type="text/html">
   <h1>Home</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Song Title</th>
				<th>Artist</th>
				<th>Votes</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</script>

<script id="songRowTemplate" type="text/html">
	<td><@= song.id @></td>
	<td><a href="#song/<@= song.id @>"><@= song.title @></a></td>
	<td><@= song.votes @></td>
	<td class="up_vote">
		<button class="btn vote">
			<i class="icon-heart"></i>
		</button>
	</td>
</script>

<script id="songViewTemplate" type="text/html">
	<div class="page-header">
		<h1><@= song.title @></h2>
	</div>	

	<a href="" class="btn">Back</a>
</script>