<script type="text/x-handlebars" data-template-name="application">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="songs">
	<h1>Home</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Song Title</th>
				<th>Artist</th>
				<th>Votes</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

		  {{#each song in controller}}
					<tr class="song">
						<td>{{song.title}}</td>
						<td>{{song.artist}}</td>
						<td>{{song.votes}}</td>
						<td class="up_vote">
							<a href="#" class="btn"><i class="icon-heart"></i></a>
						</td>
					</tr>
			{{/each}}

		</tbody>
	</table>
</script>