<script type="text/x-handlebars">
    <div class="row">
      <div id="main" class="span12">
        {{outlet}}
      </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="songs/index">
  <h1>Home</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Song Title</th>
        <th>Artist</th>
        <th>Votes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each song in controller}}
          <tr class="song">
            <td>{{#linkTo songs.song song}}{{song.title}}{{/linkTo}}</td>
            <td>{{song.artist.name}}</td>
            <td>{{song.votes}}</td>
            <td class="up_vote">
              <a href="#" class="btn" {{action "upVote" song}}><i class="icon-heart"></i></a>
            </td>
          </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script type="text/x-handlebars" data-template-name="songs/song">
  <div class="page-header">
    <h1>{{title}}</h1>
    <h5>by <em>{{artist.name}}</em></h5>
  </div>
  <a href="#" class="btn" {{action "back"}}>Back</a>
</script>
