<h1><%= @song.title %></h2>

<% unless @song.youtube.blank? %>

<%= raw youtube_embed @song.youtube %><br/>

<% end %>

<% unless @song.soundcloud.blank? %>

<%= raw soundcloud_embed @song.soundcloud %><br/>

<% end %>

<br/>

<%= link_to "Back", {:controller => 'home'} %>